{% extends 'base.html' %}

{% block style %}
<style>
    #outPopUp {
      position: absolute;
      width: 700px;
      height: 200px;
      z-index: 15;
      top: 50%;
      left: 50%;
      margin: -375px 0 0 -350px;
      text-align: center;
    }

    .up {
        height: 50%;
        width: 100%;
        background-color: #FBFBFB;
    }

    .down {
        height: 50%;
        width: 100%;
        background-image: linear-gradient(-60deg, #5641db 0%, #1f86ef 100%);
    }
</style>
{% endblock %}

{% block app %}


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '357638948003543',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();

    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        token = response.authResponse.accessToken;
        $.post("{% url 'dashboard' %}", JSON.stringify({'token': token}), function(data){
            $('#testo').html(data.result);
        }, 'json');
      }
    });

  };

  alert("{% url 'dashboard' %}");

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div class="up">
    <div id="outPopUp">
        <h1 style="font-weight: 600; color: #95989A; font-size: 72">all</h1>
        <h3 style="color: #95989A">Welcome {{ username.username }} to your dashboard!</h3>

        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>

        <h6 style="color: #95989A">Start making connections with your social network accounts. <br> You can add it here or later in settings.</h6>
        <a style="color: #95989A" href="/logout">Logout</a>
    </div>
</div>
<div class="down">
</div>
{% endblock %}